<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/App/Layout/LayoutModule.js"></script>
    <script src="~/Scripts/App/Layout/LayoutController.js"></script>

    <script src="~/Scripts/App/Login/LoginModule.js"></script>
    <script src="~/Scripts/App/Login/LoginController.js"></script>

    <title>Library Management App</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="MainApp">
    <div class="container body-content" ng-controller="LayoutController">
        @RenderBody()

        <input ng-model="a">
        <input ng-model="a">
        <p>{{a}}</p>

        <a href="/books/all">Get All Books</a>
        <a href="#!login">Login</a>

        @*<div ng-view></div>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
